{% extends 'back_base.html.twig' %}

{% block content %}
  
           <style>  .custom-file-label {
        border-radius: 0.25rem;
    }
    
    </style> 
        

<div class="clearfix"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">

  
  
    <div class="card-content">
    
        <div class="col-lg-8">
          <div class="card" style="margin-right:-100px;">
            <div class="card-body">
              <div class="card-title">Add New Claim</div>
              <hr>
            <form method="post" novalidate enctype="multipart/form-data"> 
                     {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

                      
              
              <div class="form-group row">
    <label for="libel" class="col-sm-2 col-form-label">{{ form_label(form.libelle, 'Label', {'label_attr': {'class': 'control-label'}}) }}</label>
    <div class="col-sm-7">
        {{ form_widget(form.libelle, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Your Label'}}) }}
        {{ form_errors(form.libelle) }}
    </div>
</div>



              <div class="form-group row">
               
                <label for="date_sin" class="col-sm-2 col-form-label">{{ form_label(form.date_sin, 'Date Sinistre', {'label_attr': {'class': 'control-label'}}) }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.date_sin, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Date Sinistre', 'id': 'date_sin'}}) }}
                 {{ form_errors(form.date_sin) }}
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="Contenu" class="col-sm-2 col-form-label">{{ form_label(form.contenuRec, 'Contenu Rec', {'label_attr': {'class': 'control-label'}}) }}</label>
                <div class="col-sm-7">
                {{ form_widget(form.contenuRec, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Contenu Rec'}}) }}
 {{ form_errors(form.contenuRec) }}              
              </div></div><br>
 <div class="form-group row">
    <label for="file" class="col-sm-2 col-form-label">{{ form_label(form.file, ' Import file', {'label_attr': {'class': 'control-label'}}) }}</label>
    <div class="col-sm-7">
    {{ form_widget(form.file, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Fichier à importer', 'id': 'file'}}) }}

        {{ form_errors(form.file) }}
    </div>
</div>

  <div class="form-group row">
                            <label for="Contenu" class="col-sm-2 col-form-label text-black">{{ form_label(form.latitude, 'latitude', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.latitude, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter latitude'}}) }}
                                         
                            </div>
                        </div>
  <div class="form-group row">
                            <label for="Contenu" class="col-sm-2 col-form-label text-black">{{ form_label(form.longitude, 'longitude', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.longitude, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter longitude'}}) }}
                                  <span class="form-error-message">{{ form_errors(form.longitude) }}</span>           
                            </div>
                        </div>






      <br>

 
              <div class="row">
   
      <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6">
            {{ form_start(form) }}
            {{ form_rest(form) }}

            <div class="form-group row">
                <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> Add</button>
          <div class="col-sm-1">
                 <a href="{{ path('app_reclamation_admin') }}"< class="btn btn-light btn-round px-5"> Cancel</button>
           </a> </div></div>
            {{ form_end(form) }}</form>
        </div>
    </div>
</div>

            
      
  <!--End Dashboard Content-->
  
  <!--start overlay-->
    <div class="overlay toggle-menu"></div>
  <!--end overlay-->
  
    </div>
    <!-- End container-fluid-->
    
  </div><!--End content-wrapper-->
   <style>
             .btn:hover {
                        background-color: #f8f9fa;
                        color: #007bff;
                    }
                </style>
                

{% block js %}
<script type="text/javascript">
   function getLocation()
   {
   if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(showPosition,showError);
  }
}
function showPosition(position){
  document.querySelector('.myForm input[name="latitude"]').value = position.coords.latitude;
document.querySelector('.myForm input[name="longitude"]').value = position.coords.longitude;
}
function showError(error){
  switch(error.code){
    case error.PERMISSION_DENIED:
    alert("You Must Allow The Request for géolocalisation" );
    location.reload;
    break;
  }
}
</script>

{% endblock %}


{% endblock %}
