{% extends 'back_base.html.twig' %}
{% block topbar %}
<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search ..." class="form-control"
                id="search-input">
    </li>
  </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-envelope-open-o"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-bell-o"></i></a>
    </li>
    <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="{{ app.user.avatar}}" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src=" {{ app.user.avatar}}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-2 user-title">{{ app.user.username }}</h6>
            <p class="user-subtitle">{{ app.user.email }}</p>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
        <li class="dropdown-divider"></li>
        <a href="{{ path('app_logout') }}"><li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li></a>
      </ul>
    </li>
  </ul>
</nav>
</header>
<!--End topbar header-->
 {% endblock %}
 
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
       $(document).ready(function () {
           $("#myInput").on("keyup", function () {
               var value = $(this).val().toLowerCase();
               $("#myTable tr").filter(function () {
                   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
           })
       });
      
   
   </script>
<style>
    .custom-margin-top {
        margin-top: 7rem; 
    }
</style>
<br><br>

<div class="container">
    
<div class="text-left">
<br><br><br><br>
    <a href="{{ path('reclamationAdmin_new', {'id': '1'}) }}" class="btn btn-light btn-round px-2">
        <i class="icon-lock"></i>Add New Claim
    </a>
</div><br>
<br>

                <div class="row">
                    <div class="col-14 col-lg-12">
                        <div class="card">
                            <div class="card-header">Claim Table</div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-borderless" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Label</th>
                                            
                                            <th>Reponse</th>
                
                                            <th>Compensation ID</th>
                                              <th>Show/Edit/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rec in list %}
                                            <tr class="table-row">
                                                <td>{{ rec.id }}</td>
                                                <td>{{ rec.libelle }}</td>
                                                <td>{{ rec.reponse }}</td>
                                                {% if rec.getIndemnissation() is not null %}
                                                      <td>{{ rec.getIndemnissation().getId() }}</td>
                                                                     {% else %}
                                                                           <td>-</td>
                                                                                      {% endif %}
                                                <td>
                                                 {% if rec.getIndemnissation() is not null %}
                                                <a href="{{ path('indemnisation_show', {'id': rec.getIndemnissation().getId()}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2">Compensation</button>
                                                    </a>  {% else %} 
                                                    <a href="{{ path('reclamationAdmin_show',{'id':rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2">details</button>
                                                    </a>
                                                            
                                                    <a href="{{ path('reclamationAdmin_edit',{'id':rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2">Edit</button>
                                                    </a>
                                                    <a href="{{ path('rec_delete', {'id': rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2"> Delete</button>
                                                    </a>    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
        <div class="clearfix"></div>


<style>
    .table-row:hover {
        background-color: #f8f9fa;
    }
    .table-row:hover td {
        color: #007bff;
    }
    .table-row:hover .btn {
        background-color: #f8f9fa;
        color: #007bff;
    }
</style>



{% endblock %}
