{% extends 'front_base.html.twig' %}

{% block main %}
    <style>
        .espacement-superieur {
            padding-top: 150px; /* Ajustez selon vos besoins pour espacer du haut */
        }
        .contenu-centre {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Centrage vertical */
            align-items: center; /* Centrage horizontal */
            min-height: 100vh; /* Hauteur de vue minimale pour prendre toute la hauteur de l'écran */
        }
        .couleur-carte {
            background-color: #f0f0f0; /* Couleur de fond des cartes, ajustez à votre préférence */
        }
        
    </style>
 
    <div class="contenu-centre">
        <div class="container espacement-superieur">
            {% block service %}
                <div class="tp-service-area black-bg pt-200 pb-200 z-index p-relative">
                    <div class="tp-service-shape-1">
                        <img src="front_assets/img/slider/02_Shape.png" alt="">
                    </div>
                    <div class="tp-service-shape-2">
                        <img src="front_assets/img/slider/03_Shape.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tp-service-section text-center mb-60">
                                    <h3 class="tp-section-title text-white">Create <span>your Claim</span></h3>
                                </div>
                            </div>
                        </div>

                        {# Début du formulaire #}
                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

                        {# Champ Libelle #}
                        <div class="form-group row">
                            <label for="libel" class="col-sm-2 col-form-label text-white">{{ form_label(form.libelle, 'Label', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.libelle, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Your Label'}}) }}
                                {{ form_errors(form.libelle) }}
                            </div>
                        </div>

                        {# Champ Date Sinistre #}
                        <div class="form-group row">
                            <label for="date_sin" class="col-sm-2 col-form-label text-white">{{ form_label(form.date_sin, 'Date Sinistre', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.date_sin, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Date Sinistre', 'id': 'date_sin'}}) }}
                                {{ form_errors(form.date_sin) }}
                            </div>
                        </div>

                        {# Champ Contenu Reclamation #}
                        <div class="form-group row">
                            <label for="Contenu" class="col-sm-2 col-form-label text-white">{{ form_label(form.contenu_rec, 'Contenu Rec', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.contenu_rec, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Contenu Rec'}}) }}
                                {{ form_errors(form.contenu_rec) }}              
                            </div>
                        </div>

                        {# Champ File #}
                        <div class="form-group row">
                            <label for="file" class="col-sm-2 col-form-label text-white">{{ form_label(form.file, ' Import file', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                <div class="custom-file">
                                    {{ form_widget(form.file, {'attr': {'class': 'custom-file-input', 'id': 'file'}}) }}
                                    <label class="custom-file-label text-white">Choose file</label>
                                </div>
                                {{ form_errors(form.file) }}
                            </div>
                        </div>

                        {# Boutons Submit et Cancel #}
                        <div class="form-group row">
                            <div class="col-md-6 offset-md-6">
                                <button type="submit" id="registerButton" class="btn btn-light btn-round px-5" onclick="return confirm('Are you sure you want to submit the form?After submission, you cannot modify it')"><i class="icon-lock"></i> Register</button>
                                <a href="{{ path('app_reclamation') }}" class="btn btn-primary btn-round px-5"> Cancel</a>
                            </div>
                        </div>

                        {{ form_end(form) }}
                     {% if success %}
                            <div class="alert alert-success" role="alert">
                                Your claim has been submitted successfully!
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
