{% extends 'back_base.html.twig' %}

{% block content %}
<style>
    .custom-margin-top {
        margin-top: 7rem; 
    }
</style>


<div class="container">
    <div class="row justify-content-center align-items-center custom-margin-top">
        <div class="form-group row">
            <div class="nav-item">
                <form class="search-bar">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search Claim with Id.... ">
                    <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <a href="{{ path('reclamationAdmin_new') }}" class="btn btn-light btn-round px-2">
        <i class="icon-lock"></i>Add New Claim
    </a>
</div>
<div class="content-wrapper">
    <div class="container-fluid">

            <div class="card-content">
                <div class="row">
                    <div class="col-14 col-lg-12">
                        <div class="card">
                            <div class="card-header">Claim Table</div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Libel</th>
                                            
                                            <th>Reponse</th>
                
                                            <th>Compensation ID</th>
                                              <th>Show/Edit/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rec in list %}
                                            <tr class="table-row">
                                                <td>{{ rec.id }}</td>
                                                <td>{{ rec.libelle }}</td>
                                                <td>{{ rec.reponse }}</td>
                                                {% if rec.getIndemnissation() is not null %}
                                                      <td>{{ rec.getIndemnissation().getId() }}</td>
                                                                     {% else %}
                                                                           <td>-</td>
                                                                                      {% endif %}
                                                <td>
                                                <a href="{{ path('reclamationAdmin_show',{'id':rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2"><i class="icon-lock"></i>details</button>
                                                    </a>
                                                    <a href="{{ path('reclamationAdmin_edit',{'id':rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2"><i class="icon-lock"></i>Edit</button>
                                                    </a>
                                                    <a href="{{ path('rec_delete', {'id': rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2"><i class="icon-lock"></i>Delete</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<style>
    .table-row:hover {
        background-color: #f8f9fa;
    }
    .table-row:hover td {
        color: #007bff;
    }
    .table-row:hover .btn {
        background-color: #f8f9fa;
        color: #007bff;
    }
</style>



{% endblock %}
