{% extends 'front_base.html.twig' %}
{% block header %}
    <div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('../front_assets/img/logo/logo.png')}}" alt="hello"></a>
                    </div>
                </div>
                
                <div class="col-xxl-5 col-xl-6 col-lg-5 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 2%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li ><a href="{{ path('display_assuranceF') }}">Insurances</a>
                                <li class="hasdropdown"><a href="#">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('front_sinistres') }}">Type of Claim</a></li>
                                        <li><a href="{{ path('front_polices') }}">Policy Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="portfolio-details.html">Agencies</a>
                                    <ul class="submenu">
                                        <li><a href="portfolio.html">Agencies Details</a></li>
                                        <li><a href="portfolio-details.html">Reviews</a></li>
                                    </ul>
                                </li>
                                <li ><a href="blog-details.html">Offers</a> 
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=61556203525394"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                        <div class="tp-main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="hasdropdown"><a href="portfolio-details.html">{{ app.user.username }}</a>
                                    <ul class="submenu">
                                            <li><a href="{{path('app_home_manage', {'id': app.user.id})}}">Manage account</a></li>
                                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_register') }}">SignUp</a>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_login') }}">LogIn</a>
                        </div>
                         {% endif %}
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>
{% endblock %}
{% block main %}
<main>

<style>
    .espacement-superieur {
        padding-top: 100px; 
    }
    .contenu-centre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh; 
    }
    .couleur-carte {
        background-color: #f0f0f0; 
    }
   
   
        .form-group.row {
            margin-bottom: 20px; 
        }
         .form-error-message {
        color: red; 
        font-size: 14px; 
        margin-top: 5px;
    }
</style>

<div class="contenu-centre">
    <div class="container">
        {% block service %}
            <div class="tp-service-area  pt-200 pb-200 z-index p-relative">
                
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tp-service-section text-center mb-60">
                              
                                <h4 class="tp-section-title text-black">CREATE<span> YOUR CLAIM</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-20">
                       
                     
                     {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

                      
                        <div class="form-group row">
                            <label for="libel" class="col-sm-2 col-form-label text-black">{{ form_label(form.libelle, 'Label', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.libelle, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Your Label'}}) }}
                             <span class="form-error-message">{{ form_errors(form.libelle) }}</span> 
                            </div>
                        </div>

                       
                        <div class="form-group row">
                            <label for="date_sin" class="col-sm-2 col-form-label text-blcka">{{ form_label(form.date_sin, 'Date Sinistre', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.date_sin, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Date Sinistre', 'id': 'date_sin'}}) }}
                               <span class="form-error-message">{{ form_errors(form.date_sin) }}</span> 
                            </div>
                        </div>

                     
                        <div class="form-group row">
                            <label for="Contenu" class="col-sm-2 col-form-label text-black">{{ form_label(form.contenuRec, 'Content', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.contenuRec, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter Content'}}) }}
                                  <span class="form-error-message">{{ form_errors(form.contenuRec) }}</span>           
                            </div>
                        </div>

                        
                        <div class="form-group row">
                            <label for="file" class="col-sm-2 col-form-label text-black">{{ form_label(form.file, ' Import file', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-5">
                                <div class="custom-file">
                                    {{ form_widget(form.file, {'attr': {'class': 'custom-file-input', 'id': 'file'}}) }}
                                    <label class="custom-file-label text-black">Choose file</label>
                                </div>
                                {{ form_errors(form.file) }}
                            </div>
                           
                        </div>

  <div class="form-group row">
                            <label for="Contenu" class="col-sm-2 col-form-label text-black">{{ form_label(form.latitude, 'latitude', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.latitude, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter latitude'}}) }}
                                         
                            </div>
                        </div>
  <div class="form-group row">
                            <label for="Contenu" class="col-sm-2 col-form-label text-black">{{ form_label(form.longitude, 'longitude', {'label_attr': {'class': 'control-label'}}) }}</label>
                            <div class="col-sm-7">
                                {{ form_widget(form.longitude, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter longitude'}}) }}
                                  <span class="form-error-message">{{ form_errors(form.longitude) }}</span>           
                            </div>
                        </div>

                  


                       <div class="form-group row">
    <div class="col-md-6 offset-md-6">
  <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> Add</button>
        <a href="{{ path('app_reclamation') }}" class="btn btn-light btn-round px-5">Cancel</a>
    </div>
</div>


                        {{ form_end(form) }}</form>
                    </div>
                </div>
            </div>
        
    </div>
</div>
   


{% block js %}
<script type="text/javascript">
   function getLocation()
   {
   if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(showPosition,showError);
  }
}
function showPosition(position){
  document.querySelector('.myForm input[name="latitude"]').value = position.coords.latitude;
document.querySelector('.myForm input[name="longitude"]').value = position.coords.longitude;
}
function showError(error){
  switch(error.code){
    case error.PERMISSION_DENIED:
    alert("You Must Allow The Request for géolocalisation" );
    location.reload;
    break;
  }
}
</script>

{% endblock %}{% endblock %}

{% endblock %}