{% extends 'front_base.html.twig' %}

{% block header %}
    <div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('../front_assets/img/logo/logo.png')}}" alt="hello"></a>
                    </div>
                </div>
                
                <div class="col-xxl-5 col-xl-6 col-lg-5 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 2%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li ><a href="{{ path('display_assuranceF') }}">Insurances</a>
                                <li class="hasdropdown"><a href="#">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('front_sinistres') }}">Type of Claim</a></li>
                                        <li><a href="{{ path('front_polices') }}">Policy Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="{{path('app_afficheragencesc')}}">Agencies</a>
                                    <ul class="submenu">
                                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                                        <li><a href="{{path('app_afficheravis')}}">Reviews</a></li>
                                    {% else %}
                                        <li><a href="{{path('app_afficheravisc')}}">review</a></li>
                                    {% endif %}
                                    </ul>
                                </li>
                                    <li><a href="{{path('displayCategorieOffref')}}">Offers</a> </li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=61556203525394"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                        <div class="tp-main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="hasdropdown"><a href="{{path('app_home_manage', {'id': app.user.id})}}">{{ app.user.username }}</a>
                                    <ul class="submenu">
                                            <li><a href="{{path('app_home_manage', {'id': app.user.id})}}">Manage account</a></li>
                                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_register') }}">SignUp</a>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_login') }}">LogIn</a>
                        </div>
                         {% endif %}
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>
{% endblock %}

{% block main %}
<main>
    <br><br>
    <style>
        .espacement-superieur {
            padding-top: 100px; /* Ajustez selon vos besoins pour espacer du haut */
        }
        .contenu-centre {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Centrage vertical */
            min-height: 100vh; /* Hauteur de vue minimale pour prendre toute la hauteur de l'écran */
        }
        .couleur-carte {
            background-color: #f0f0f0; /* Couleur de fond des cartes, ajustez à votre préférence */
        }
    </style>

    <div class="contenu-centre">
        <div class="container espacement-superieur">
            {% block service %}
            <div class="tp-service-shape-1">
                <img src="front_assets/img/slider/02_Shape.png" alt="">
            </div>
            <div class="tp-service-shape-2">
                <img src="front_assets/img/slider/03_Shape.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="tp-service-section text-center mb-60">
                        <h4 class="tp-section-subtitle">My Claims</h4>
                      
    
                    </div>
                </div>
            </div>
            {% endblock %}

            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="card-content">
                        <div class="row">
                            {% for rec in  pagination %}
                            <div class="col-xxl-4 col-xl-4 col-lg-4">
                                <div class="postbox__wrapper pr-20">
                                    <article class="postbox__item format-image mb-50 transition-3">
                                        <div class="postbox__thumb w-img">
                                            <a href="{{ path('rec_affichUser', {'id': rec.id}) }}">
                                                <img src="{{ asset('uploads/' ~ rec.fileName | split('/') | last) }}" alt="" style="max-width: 200px; max-height: 200px;">
                                            </a>
                                        </div>
                                        <div class="postbox__content">
                                            <div class="postbox__meta">
                                                <!-- Add other meta information here -->
                                            </div>
                                            <h3 class="postbox__title">
                                                <a href="{{ path('rec_affichUser', {'id': rec.id}) }}">{{ rec.libelle }}</a>
                                            </h3>
                                            <div class="intro-text">
                                                <p>Claim Date: <span class="rec_date">{{ rec.getDateDecl()? rec.getDateDecl().format('Y-m-d H:i:s') : '' }}</span></p>
                                            </div>
                                            <div class="intro-text">
                                                <p>Reponse: <span class="rec-reponse">{{ rec.reponse }}</span></p>
                                            </div>
                                           
                                        </div>
                                    </article>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                           <div class="container">
            <div class="row">
                {% if pagination.getTotalItemCount() > 0 %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% else %}
                    <p>Aucun événement trouvé.</p>
                {% endif %}
                    <div class="container">
            <div class="row">
           
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <style>
      
    </style>
</main>
{% endblock %}


