{% extends 'front/index.html.twig' %}
{% block header %}
<div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('../front_assets/img/logo/logo.png')}}" alt="hello"></a>
                    </div>
                </div>
                
                <div class="col-xxl-5 col-xl-6 col-lg-5 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 2%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li ><a href="{{ path('display_assuranceF') }}">Insurances</a>
                                <li class="hasdropdown"><a href="#">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('front_sinistres') }}">Type of Claim</a></li>
                                        <li><a href="{{ path('front_polices') }}">Policy Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="{{path('app_afficheragencesc')}}">Agencies</a>
                                    <ul class="submenu">
                                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                                        <li><a href="{{path('app_afficheravis')}}">Reviews</a></li>
                                    {% else %}
                                        <li><a href="{{path('app_afficheravisc')}}">review</a></li>
                                    {% endif %}
                                    </ul>
                                </li>
                                    <li><a href="{{path('displayCategorieOffref')}}">Offers</a> </li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=61556203525394"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                        <div class="tp-main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="hasdropdown"><a href="{{path('app_home_manage', {'id': app.user.id})}}">{{ app.user.username }}</a>
                                    <ul class="submenu">
                                            <li><a href="{{path('app_home_manage', {'id': app.user.id})}}">Manage account</a></li>
                                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_register') }}">SignUp</a>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_login') }}">LogIn</a>
                        </div>
                         {% endif %}
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>
{% endblock %}
{% block stylesheets %}
    <style>
        .blue-frame {
            border: 2px solid blue;
            padding: 20px;
            border-radius: 10px;
        }
        
    </style>
{% endblock %}

{% block main %}
<style>
.espacement-superieur {
    padding-top: 200px; /* Ajustez selon vos besoins pour espacer du haut */
}
</style>
<main>
    
<h4 style="color: blue;">Your Insurances</h4>


      
    <br>
    <div class="tp-about-area pb-130">
         <div class="container espacement-superieur ">
            <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-about-thumb">
                     <img src="{{ asset('uploads/images/' ~ assurance.insImage) }}" alt="">
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-about-section-box mb-40">
                     <h4 class="tp-section-subtitle">About Insurance</h4>
                     <h3 class="tp-section-title pb-20">{{ assurance.nameins }}
                     <h4 class="tp-section-subtitle">Associated Policy</h4>
                     <span><br> {{ pol.policeName}}</span></h3>
                     <p class="paragraph-one">{{ pol.descriptionPolice}}</p>
                  </div>
                 
               </div>
            </div>
         </div>
      </div>
    <div class="tp-price-area pt-130 pb-120" style="margin-top:-200px;">
        <div class="clearfix"></div>
        <div class="content-wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-60">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="Home" role="tabpanel" aria-labelledby="nav-Home-tab" tabindex="0">
                                <div class="tp-contact-form-wrapper">
                                    <div class="contact-section-title-box">
                                        <h4 class="tp-section-subtitle" style="font-size: 30px;">Fill The Form</h4>
                                    </div>
                                    <div class="contact-form contact-form-box pt-4 pb-4 mb-4 blue-frame" style="background-color: white;">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'commande_form', 'novalidate': 'novalidate'}}) }}
                                        {% for field in form %}
                                            {% if field.vars.name != 'insvalue' and field.vars.name != '_token' %}
                                                <div class="form-group row mb-3">
                                                    {{ form_label(field, field.vars.label, {'label_attr': {'class': 'col-sm-4 col-form-label text-right font-weight-bold text-black tp-footer-title'}}) }}
                                                    <div class="col-sm-8">
                                                        {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label|default('Enter your ' ~ field.vars.name)|capitalize}}) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="form-group row mb-3">
                                            {{ form_label(form.insvalue, 'Value Of The Insured Object', {'label_attr': {'class': 'col-sm-4 col-form-label text-right font-weight-bold text-black tp-footer-title'}}) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.insvalue, {'attr': {'class': 'form-control', 'placeholder': 'Enter The Value Of Your Insured Object'}}) }}
                                                {{ form_errors(form.insvalue) }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-8 offset-sm-4">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
