{% extends 'front_base.html.twig' %}

{% block stylesheets %}
    <style>
        .blue-frame {
            border: 2px solid blue;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block main %}
<main>
    <section class="breadcrumb__area background-bg pt-180 pb-180 include-bg p-relative fix" data-background="assets/img/breadcurmb/breadcurmb.jpg">
        <div class="tp-breadcrmb-circle-one"></div>
        <div class="tp-breadcrmb-circle-two"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb__wrapper z-index-6 d-flex justify-content-between align-items-center">
                        <div class="breadcrumb__content">
                            <h3 class="breadcrumb__title">Portfolio</h3>
                        </div>
                        <div class="breadcrumb__button">
                            <a class="tp-btn-white" href="contact.html">Contact us today<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tp-price-area pt-130 pb-120">
        <div class="clearfix"></div>
        <div class="content-wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-60">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="Home" role="tabpanel" aria-labelledby="nav-Home-tab" tabindex="0">
                                <div class="tp-contact-form-wrapper">
                                    <div class="contact-section-title-box">
                                        <h4 class="tp-section-subtitle" style="font-size: 30px;">Fill The Form</h4>
                                    </div>
                                    <div class="contact-form contact-form-box pt-4 pb-4 mb-4 blue-frame" style="background-color: white;">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'commande_form', 'novalidate': 'novalidate'}}) }}
                                        {% for field in form %}
                                            {% if field.vars.name != 'insvalue' and field.vars.name != '_token' %}
                                                <div class="form-group row mb-3">
                                                    {{ form_label(field, field.vars.label, {'label_attr': {'class': 'col-sm-4 col-form-label text-right font-weight-bold text-black tp-footer-title'}}) }}
                                                    <div class="col-sm-8">
                                                        {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label|default('Enter your ' ~ field.vars.name)|capitalize}}) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="form-group row mb-3">
                                            {{ form_label(form.insvalue, 'Value Of The Insured Object', {'label_attr': {'class': 'col-sm-4 col-form-label text-right font-weight-bold text-black tp-footer-title'}}) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.insvalue, {'attr': {'class': 'form-control', 'placeholder': 'Enter The Value Of Your Insured Object'}}) }}
                                                {{ form_errors(form.insvalue) }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-8 offset-sm-4">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
