{% extends 'front_base.html.twig' %}

{% block main %}
    <main>
        <section class="breadcrumb__area background-bg pt-180 pb-180 include-bg p-relative fix" data-background="assets/img/breadcurmb/breadcurmb.jpg">
            <div class="tp-breadcrmb-circle-one"></div>
            <div class="tp-breadcrmb-circle-two"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb__wrapper z-index-6 d-flex justify-content-between align-items-center">
                            <div class="breadcrumb__content">
                                <h3 class="breadcrumb__title">Your Insurance</h3>
                            </div>
                            <div class="breadcrumb__button">
                                <a class="tp-btn-white" href="contact.html">Contact us today<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="tp-price-area pt-130 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="tp-price-wrapper active">
                            <div class="tpprice__badge text-center" >
                                <span>Your Insurance Details</span>
                            </div>
                            <div class="tpprice mb-20">
                                <div class="tpprice__info text-center">
                                    {% if command %}
                                        <!-- Display user name -->
                                        <!-- Display insurance name -->
                                        <h3 class="tp-price-title">Insurance: {{ command.doacom.nameins }}</h3>
                                        <div class="tpprice__meta text-center"><span>Full Premium: {{ command.montant }} DT</span></div>
                                        <div class="tpprice__list">
                                            <ul>
                                                <li><i class="fas fa-check"></i>Effective Date: {{ command.dateEffet ? command.dateEffet|date('Y-m-d') : '' }}</li>
                                                <li><i class="fas fa-check"></i>Expiration Date: {{ command.dateExp ? command.dateExp|date('Y-m-d') : '' }}</li>
                                                {% for index, value in command.fullDoa %}
                                                    <li><i class="fas fa-check"></i>{{ index }}: {{ value }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <p>No command found</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tpprice__btn">
                            <a class="tp-btn-black w-100" href="{{path('basket')}}">Buy now</a>
                            <a href="{{ path('edit_com', {'id': command.id}) }}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
