{% extends 'front/index.html.twig' %}
{% block header %}
<div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('../front_assets/img/logo/logo.png')}}" alt="hello"></a>
                    </div>
                </div>
                
                <div class="col-xxl-5 col-xl-6 col-lg-5 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 2%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li ><a href="{{ path('display_assuranceF') }}">Insurances</a>
                                <li class="hasdropdown"><a href="#">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('front_sinistres') }}">Type of Claim</a></li>
                                        <li><a href="{{ path('front_polices') }}">Policy Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="{{path('app_afficheragencesc')}}">Agencies</a>
                                    <ul class="submenu">
                                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                                        <li><a href="{{path('app_afficheravis')}}">Reviews</a></li>
                                    {% else %}
                                        <li><a href="{{path('app_afficheravisc')}}">review</a></li>
                                    {% endif %}
                                    </ul>
                                </li>
                                    <li><a href="{{path('displayCategorieOffref')}}">Offers</a> </li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=61556203525394"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                        <div class="tp-main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="hasdropdown"><a href="{{path('app_home_manage', {'id': app.user.id})}}">{{ app.user.username }}</a>
                                    <ul class="submenu">
                                            <li><a href="{{path('app_home_manage', {'id': app.user.id})}}">Manage account</a></li>
                                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_register') }}">SignUp</a>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_login') }}">LogIn</a>
                        </div>
                         {% endif %}
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>
{% endblock %}
{% block main %}
<style>
.espacement-superieur {
    padding-top: 150px; /* Ajustez selon vos besoins pour espacer du haut */
}
</style>
    <main>
        <div class="tp-price-area pt-130 pb-120">
            <div class="container espacement-superieur">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="tp-price-wrapper active">
                            <div class="tpprice__badge text-center" >
                                <span>Your Insurance Details</span>
                            </div>
                            <div class="tpprice mb-20">
                                <div class="tpprice__info text-center">
                                    {% if command %}
                                        <!-- Display user name -->
                                        <!-- Display insurance name -->
                                        <h3 class="tp-price-title">Insurance: {{ command.doacom.nameins }}</h3>
                                        <div class="tpprice__meta text-center"><span>Full Premium: {{ command.montant }} DT</span></div>
                                        <div class="tpprice__list">
                                            <ul>
                                                <li><i class="fas fa-check"></i>Effective Date: {{ command.dateEffet ? command.dateEffet|date('Y-m-d') : '' }}</li>
                                                <li><i class="fas fa-check"></i>Expiration Date: {{ command.dateExp ? command.dateExp|date('Y-m-d') : '' }}</li>
                                                {% for index, value in command.fullDoa %}
                                                    <li><i class="fas fa-check"></i>{{ index }}: {{ value }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <p>No command found</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tpprice__btn">
                            <a class="tp-btn-black w-100" href="{{path('basket')}}">Buy now</a>
                            <a href="{{ path('edit_com', {'id': command.id}) }}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
