{% extends 'front_base.html.twig' %}
{% block main %}
<main>
    {% block slider %}
        <section class="breadcrumb__area background-bg pt-100 pb-20 include-bg p-relative fix"
                 data-background="../front_assets/img/about/about-bg-shape-1.png">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper z-index-6 d-flex justify-content-between align-items-center">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    <div class="postbox__area pt-120 pb-120">
        <div class="container">
            {% for offre_row in offres|batch(3) %}
                <div class="row">
                    {% for offre in offre_row %}
                        <div class="col-xxl-4 col-xl-4 col-lg-4">
                            <div class="postbox__wrapper pr-20">
                                <article class="postbox__item format-image mb-50 transition-3">
                                    <div class="postbox__thumb w-img">
                                        <a href="{{ path('display_offref', {'id': offre.id}) }}">
                                            <img src="{{ asset('uploads/offres/' ~ offre.offreimg) }}" alt="Offre Image" style="max-width: 200px; max-height: 200px;">
                                        </a>
                                    </div>
                                    <div class="postbox__content">
                                        <div class="postbox__meta">
                                            <!-- Add other meta information here -->
                                        </div>
                                        <h3 class="postbox__title">
                                            <a href="{{ path('display_offref', {'id': offre.id}) }}">{{ offre.advantage }}</a>
                                        </h3>
                                        <div class="intro-text">
                                            <p>Conditions: <span class="offre-conditions">{{ offre.conditions }}</span></p>
                                        </div>
                                        <div class="intro-text">
                                            <p>Duration: <span class="offre-duration">{{ offre.duration }}</span> Days</p>
                                        </div>
                                        <div class="intro-text">
                                            <p>Discount: <span class="offre-discount">{{ offre.discount }}</span> %</p>
                                        </div>
                                        <div class="post__button">
                                            <a class="tp-btn" href="{{ path('display_offref', {'id': offre.id}) }}"> Choose </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
