{% extends 'front_base.html.twig' %}
{% block main %}
<main>
    {% block slider %}
        <div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="front_assets/img/logo/logo.png" alt=""></a>
                    </div>
                </div>
                
                <div class="col-xxl-6 col-xl-7 col-lg-8 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 8%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li class="hasdropdown"><a href="#">Insurances</a>
                                    <ul class="submenu">
                                        <li><a href="about-us.html">Auto Insurance</a></li>
                                        <li><a href="team.html">Home Insurance</a></li>
                                        <li><a href="team-details.html">Health Insurance</a></li>
                                        <li><a href="price.html">Travel Insurance</a></li>
                                        <li><a href="faq.html">Pet Insurance</a></li>
                                        <li><a href="contact.html">Business Insurance</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="service-details.html">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="service-details.html">Service</a></li>
                                        <li><a href="service-details.html">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="portfolio-details.html">Agencies</a>
                                    <ul class="submenu">
                                        <li><a href="portfolio.html">Agencies Details</a></li>
                                        <li><a href="portfolio-details.html">Reviews</a></li>
                                    </ul>
                                </li>
                                <li ><a href="{{path('displayCategorieOffref')}}">Offers</a> 
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            <a class="header-icon" href="#"><img src="front_assets/img/svg/header-icon.svg" alt=""></a>
                            <a href="tel:53348053">Call us : <span>+216 53 348 053 </span></a>
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="about-us.html">Sign Up</a>
                        </div>
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>

    {% endblock %}
   
    <hr>
    <hr>
    
    
    <div class="postbox__area pt-120 pb-120">
        <div class="container" id"offer-container">
           <div class="row">
    {% for offre in pagination %}
        <div class="col-xxl-4 col-xl-4 col-lg-4">
            <div class="postbox__wrapper pr-20">
                <article class="postbox__item format-image mb-50 transition-3" class="card">
                    <div class="postbox__thumb w-img">
                        <a href="{{ path('display_offref', {'id': offre.id}) }}">
                            <img src="{{ asset('uploads/offres/' ~ offre.offreimg) }}" alt="Offre Image" style="max-width: 200px; max-height: 200px;">
                        </a>
                    </div>
                    <div class="postbox__content">
                        <div class="postbox__meta">
                            <!-- Add other meta information here -->
                        </div>
                        <h3 class="postbox__title">
                            <a href="{{ path('display_offref', {'id': offre.id}) }}"><p class="card-title">{{ offre.advantage }}</a>
                        </h3>
                        <div class="intro-text">
                            <p  class="card-title">Conditions: <span class="offre-conditions">{{ offre.conditions }}</span></p>
                        </div>
                        <div class="intro-text">
                            <p  class="card-title">Duration: <span class="offre-duration" >{{ offre.duration }}</span> Days</p>
                        </div>
                        <div class="intro-text">
                            <p  class="card-title">Discount: <span class="offre-discount" >{{ offre.discount }}</span> %</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>

    

</main>
{% endblock %}
