{# templates/assurance/questionnaire.html.twig #}

{% extends 'front/index.html.twig' %}
{% block header %}
<div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('../front_assets/img/logo/logo.png')}}" alt="hello"></a>
                    </div>
                </div>
                
                <div class="col-xxl-5 col-xl-6 col-lg-5 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 2%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li ><a href="{{ path('display_assuranceF') }}">Insurances</a>
                                <li class="hasdropdown"><a href="#">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('front_sinistres') }}">Type of Claim</a></li>
                                        <li><a href="{{ path('front_polices') }}">Policy Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="{{path('app_afficheragencesc')}}">Agencies</a>
                                    <ul class="submenu">
                                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                                        <li><a href="{{path('app_afficheravis')}}">Reviews</a></li>
                                    {% else %}
                                        <li><a href="{{path('app_afficheravisc')}}">review</a></li>
                                    {% endif %}
                                    </ul>
                                </li>
                                    <li><a href="{{path('displayCategorieOffref')}}">Offers</a> </li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=61556203525394"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                        <div class="tp-main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="hasdropdown"><a href="{{path('app_home_manage', {'id': app.user.id})}}">{{ app.user.username }}</a>
                                    <ul class="submenu">
                                            <li><a href="{{path('app_home_manage', {'id': app.user.id})}}">Manage account</a></li>
                                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_register') }}">SignUp</a>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_login') }}">LogIn</a>
                        </div>
                         {% endif %}
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>
{% endblock %}
{% block main %}
<main>
<style>
.espacement-superieur {
    padding-top: 200px; /* Ajustez selon vos besoins pour espacer du haut */
}
</style>
    <section class="sd-accordio-area grey-bg pt-130 pb-130">
        <div class="container espacement-superieur">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <h3 class="tp-section-title text-center mb-70">Insurance Questionnaire</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="tp-custom-accordio">
                       <form method="post">
                        <div class="accordion" id="accordionQuestionnaire">
                          
                            <div class="accordion-items faq-accordio-border">
                                <h2 class="accordion-header" id="ageHeading">
                                    <button class="accordion-buttons " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#ageCollapse" aria-expanded="true"
                                            aria-controls="ageCollapse">
                                        What is your age?
                                    </button>
                                </h2>
                                <div id="ageCollapse" class="accordion-collapse collapse show"
                                     aria-labelledby="ageHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.age, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.age) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="incomeHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#incomeCollapse"
                                            aria-expanded="false" aria-controls="incomeCollapse">
                                        What is your annual income?
                                    </button>
                                </h2>
                                <div id="incomeCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="incomeHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.income, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.income) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="maritalStatusHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#maritalStatusCollapse"
                                            aria-expanded="false" aria-controls="maritalStatusCollapse">
                                        What is your marital status?
                                    </button>
                                </h2>
                                <div id="maritalStatusCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="maritalStatusHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.marital_status, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.marital_status) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="employmentStatusHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#employmentStatusCollapse"
                                            aria-expanded="false" aria-controls="employmentStatusCollapse">
                                        What is your employment status?
                                    </button>
                                </h2>
                                <div id="employmentStatusCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="employmentStatusHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.employment_status, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.employment_status) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="healthStatusHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#healthStatusCollapse"
                                            aria-expanded="false" aria-controls="healthStatusCollapse">
                                        How would you describe your health status?
                                    </button>
                                </h2>
                                <div id="healthStatusCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="healthStatusHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.health_status, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.health_status) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="riskToleranceHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#riskToleranceCollapse"
                                            aria-expanded="false" aria-controls="riskToleranceCollapse">
                                        How would you describe your risk tolerance?
                                    </button>
                                </h2>
                                <div id="riskToleranceCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="riskToleranceHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.risk_tolerance, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.risk_tolerance) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="assetsHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#assetsCollapse"
                                            aria-expanded="false" aria-controls="assetsCollapse">
                                        What are your total assets?
                                    </button>
                                </h2>
                                <div id="assetsCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="assetsHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.assets, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.assets) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="liabilitiesHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#liabilitiesCollapse"
                                            aria-expanded="false" aria-controls="liabilitiesCollapse">
                                        What are your total liabilities?
                                    </button>
                                </h2>
                                <div id="liabilitiesCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="liabilitiesHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.liabilities, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.liabilities) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="financialGoalsHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#financialGoalsCollapse"
                                            aria-expanded="false" aria-controls="financialGoalsCollapse">
                                        What are your financial goals?
                                    </button>
                                </h2>
                                <div id="financialGoalsCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="financialGoalsHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.financial_goals, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.financial_goals) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="preferredCoverageHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#preferredCoverageCollapse"
                                            aria-expanded="false" aria-controls="preferredCoverageCollapse">
                                        What type of coverage do you prefer?
                                    </button>
                                </h2>
                                <div id="preferredCoverageCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="preferredCoverageHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.preferred_coverage, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.preferred_coverage) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="geographicFactorsHeading">
                                    <button class="accordion-buttons collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#geographicFactorsCollapse"
                                            aria-expanded="false" aria-controls="geographicFactorsCollapse">
                                        What are your geographic factors?
                                    </button>
                                </h2>
                                <div id="geographicFactorsCollapse" class="accordion-collapse collapse"
                                     aria-labelledby="geographicFactorsHeading" data-bs-parent="#accordionQuestionnaire">
                                    <div class="accordion-body">
                                        {{ form_row(form.geographic_factors, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.geographic_factors) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
             <div class="row justify-content-center mt-4">
                <div class="col-xl-6 col-lg-7">
                 
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                     {% if answer is not empty %}
        <p>The answer is: {{ answer }}</p>
    {% endif %}
                   {{ form_end(form) }}
   </form>
                   
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
