{% extends 'front_base.html.twig' %}

{% block header %}
   <div id="header-sticky" class="tp-header-area header-transparent header-space header-border" style="background-color: #051B46;">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('../front_assets/img/logo/logo.png')}}" alt="hello"></a>
                    </div>
                </div>
                
                <div class="col-xxl-5 col-xl-6 col-lg-5 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 2%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li ><a href="{{ path('display_assuranceF') }}">Insurances</a>
                                <li class="hasdropdown"><a href="#">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('front_sinistres') }}">Type of Claim</a></li>
                                        <li><a href="{{ path('front_polices') }}">Policy Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="portfolio-details.html">Agencies</a>
                                    <ul class="submenu">
                                        <li><a href="portfolio.html">Agencies Details</a></li>
                                        <li><a href="portfolio-details.html">Reviews</a></li>
                                    </ul>
                                </li>
                                    <li><a href="{{path('displayCategorieOffref')}}">Offers</a> </li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=61556203525394"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                        <div class="tp-main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="hasdropdown"><a href="portfolio-details.html">{{ app.user.username }}</a>
                                    <ul class="submenu">
                                            <li><a href="{{path('app_home_manage', {'id': app.user.id})}}">Manage account</a></li>
                                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_register') }}">SignUp</a>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="{{ path('app_login') }}">LogIn</a>
                        </div>
                         {% endif %}
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>

{% endblock %}
{% block main %}
<style>


.container-centre {
    display: flex;
    justify-content: center; /* Centrage horizontal du contenu */
    align-items: center; /* Centrage vertical du contenu */
    min-height: 100vh; /* Hauteur de vue minimale pour prendre toute la hauteur de l'écran */
}

.espacement-superieur {
    padding-top: 50px; /* Réduction de l'espacement supérieur pour un meilleur centrage vertical */
}

.espacement-inferieur {
    padding-bottom: 50px; /* Réduction de l'espacement inférieur */
}

.image-sinistre {
    width: 566px; /* Définissez la largeur souhaitée */
    height: 634px; /* Définissez la hauteur souhaitée */
    object-fit: cover; /* Assurez-vous que l'image couvre la zone sans perdre ses proportions */
}
.tp-about-area {
    margin-top: 100px; /* Ajoute un espace entre le header et la section tp-about-area */
}
.sinistre-item {
    margin-bottom: 20px; /* Ajustez cette valeur selon l'espace souhaité */
}
    
</style>
<div class="tp-about-area pb-130">
    <div class="container-centre espacement-inferieur">
    <div class="container espacement-superieur">
        <div class="row align-items-center">
            {% for sinistre in sinistre %}
                 <div class="col-xl-6 col-lg-6 sinistre-item">
                <div class="tp-about-thumb">
                    {# Utiliser le chemin d'image dynamique de l'entité Sinistre #}
                    <img src="{{ asset('uploads/sinistres/' ~ sinistre.imagePath) }}" alt="Image du sinistre" class="image-sinistre">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="tp-about-section-box mb-40">
                
                    <h3 class="tp-section-title pb-20">{{ sinistre.sinName }}</h3>
        

                   <div class="description"> <p class="paragraph-one">{{ sinistre.descriptionSin }}</p></div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucun sinistre n'a été trouvé.</p>
            </div>
        {% endfor %} 
        </div>
    </div>
</div>
</div>
{% endblock %}
