<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Insuarea – Insurance Company HTML5 Template</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="../front_assets/img/favicon.png">

{% block css %}
<link rel="stylesheet" href="{{ asset('front_assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/animate.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/custom-animation.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/swiper-bundle.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/slick.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/nice-select.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/flaticon.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/meanmenu.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/font-awesome-pro.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/spacing.css') }}">
<link rel="stylesheet" href="{{ asset('front_assets/css/style.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"></script>

{% endblock %}

</head>

<body>

   <header >

   <!-- tp-header-area-start -->
{% block header %}
    <div id="header-sticky" class="tp-header-area header-transparent header-space header-border">
        <div class="container-fluid">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-6">
                    <div class="tp-logo">
                        <a href="{{ path('app_home') }}"><img src="../front_assets/img/logo/logo.png" alt=""></a>
                    </div>
                </div>
                
                <div class="col-xxl-6 col-xl-7 col-lg-8 d-none d-lg-block" style="padding-block-start: 1%; padding-inline-start: 8%;">
                    <div class="tp-main-menu">
                        <nav id="mobile-menu">
                            <ul>
                              
                                <li class="hasdropdown"><a href="#">Insurances</a>
                                    <ul class="submenu">
                                        <li><a href="about-us.html">Auto Insurance</a></li>
                                        <li><a href="team.html">Home Insurance</a></li>
                                        <li><a href="team-details.html">Health Insurance</a></li>
                                        <li><a href="price.html">Travel Insurance</a></li>
                                        <li><a href="faq.html">Pet Insurance</a></li>
                                        <li><a href="contact.html">Business Insurance</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="service-details.html">Policies</a>
                                    <ul class="submenu">
                                        <li><a href="service-details.html">Service</a></li>
                                        <li><a href="service-details.html">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="hasdropdown"><a href="{{path('app_afficheragencesc')}}">Agencies</a>
                                    <ul class="submenu">
                                        <li><a href="portfolio.html">Agencies Details</a></li>
                                        <li><a href="{{path('app_afficheravis')}}">Reviews</a></li>
                                    </ul>
                                </li>
                                <li ><a href="blog-details.html">Offers</a> 
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6" style="padding-block-start: 1%;">
                    <div class="tp-header-right d-flex align-items-center justify-content-end">
                        <div class="tp-header-info d-none d-xxl-block">
                            <a class="header-icon" href="#"><img src="front_assets/img/svg/header-icon.svg" alt=""></a>
                            <a href="tel:53348053">Call us : <span>+216 53 348 053 </span></a>
                            <div class="tpoffcanvas__social" style="text-align: right;">
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tp-header-button d-none d-md-block">
                            <a class="tp-btn" href="about-us.html">Sign Up</a>
                        </div>
                        <div class="tp-toggle-bar d-lg-none">
                            <a class="tp-menu-bar" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

   <!-- tp-header-area-end -->
   </header>
{% endblock %}
  {% block main %}
   <main>
   {% block slider %}
      <!-- tp-slider-area-start -->
      <div class="tp-slider-area p-relative">
         <div class="tp-slider-active slider-arrow-style">
            <div class="tp-slider-item slider-height">
               <div class="slider-bg d-flex justify-content-center align-items-center"
                  data-background="front_assets/img/slider/slider-bg.jpg">
                  <div class="tp-slider-content-box text-center z-index-3">
                  
                     <h2 class="tp-slider-title">
                        Insurance that protect <br> your family</h2>
                     <p>Only our company gives you aninvestment with your life insurance <br> policy at no extracost.
                     </p>
                     <a class="tp-btn tp-hover-white" href="about-us.html">Get Started</a>
                     <a class="tp-btn-yellow tp-hover-white" href="contact.html">Contact us today</a>
                  </div>
               </div>
            </div>
            <div class="tp-slider-item slider-height">
               <div class="slider-bg d-flex justify-content-center align-items-center"
                  data-background="front_assets/img/slider/slider-bg-2.jpg">
                  <div class="tp-slider-content-box text-center z-index-3">
                     <h2 class="tp-slider-title">
                        Insurance that protect <br> your family</h2>
                     <p>Only our company gives you aninvestment with your life insurance <br> policy at no extracost.
                     </p>
                     <a class="tp-btn tp-hover-white" href="about-us.html">Get Started</a>
                     <a class="tp-btn-yellow tp-hover-white" href="contact.html">Contact us today</a>
                  </div>
               </div>
            </div>
            <div class="tp-slider-item slider-height">
               <div class="slider-bg d-flex justify-content-center align-items-center"
                  data-background="front_assets/img/slider/slider-bg-3.jpg">
                  <div class="tp-slider-content-box text-center z-index-3">
                     <h2 class="tp-slider-title">
                        Insurance that protect <br> your family</h2>
                     <p>Only our company gives you aninvestment with your life insurance <br> policy at no extracost.
                     </p>
                     <a class="tp-btn tp-hover-white" href="about-us.html">Get Started</a>
                     <a class="tp-btn-yellow tp-hover-white" href="contact.html">Contact us today</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="tp-slider-bottom-shape">
            <img src="front_assets/img/slider/slider-shape-1.png" alt="">
         </div>
      </div>
      <!-- tp-slider-area-end -->
{% endblock %}
      <!-- tp-brand-area-end -->
      {% block brand %}
      <div class="tp-brand-area pt-130 pb-130">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="tp-brand-title text-center mb-70">
                     <h3 class="tp-brand-title">Trusted by some popular Brand</h3>
                  </div>
               </div>
            </div>
            <div class="tp-brand-slider-active d-flex align-items-center">
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-1.png" alt="">
               </div>
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-2.png" alt="">
               </div>
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-1.png" alt="">
               </div>
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-4.png" alt="">
               </div>
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-5.png" alt="">
               </div>
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-6.png" alt="">
               </div>
               <div class="tp-brand-item">
                  <img src="front_assets/img/brand/brand-5.png" alt="">
               </div>
            </div>
         </div>
      </div>
      <!-- tp-brand-area-end -->
{% endblock %}
      <!-- tp-about-area-start -->
      {% block about %}
      <div class="tp-about-area pb-130">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-about-thumb">
                     <img src="front_assets/img/about/about-big-1.png" alt="">
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-about-section-box mb-40">
                     <h4 class="tp-section-subtitle">About us</h4>
                     <h3 class="tp-section-title pb-20">Change the way but <span><br> life Insurance</span></h3>
                     <p class="paragraph-one">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commodo
                        claritatem insitamconse
                        quat.Exerci tation ullamcorper suscipit loborti excommodo habent claritatem insitamconse
                        quat.Exerci tationlobortis nisl aliquip ex ea commodo
                        n ullamcorper suscipit loborti excommodo</p>
                     <p>Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commodo claritatem insitamconse
                        quat.Exerci tation ullamcorper suscipit loborti </p>
                  </div>
                  <div class="tp-about-button-box d-flex align-items-center">
                     <a class="tp-btn tp-ab-button-one" href="about-us.html">About us</a>
                     <a class="tp-ab-play-button popup-video" href="https://www.youtube.com/watch?v=PfPP5ac_aQo"><i class="fas fa-play"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-about-area-end -->
{% endblock %}
      <!-- tp-service-area-start -->
      {% block service %}
      <div class="tp-service-area black-bg pt-200 pb-200 z-index p-relative">
         <div class="tp-service-shape-1">
            <img src="front_assets/img/slider/02_Shape.png" alt="">
         </div>
         <div class="tp-service-shape-2">
            <img src="front_assets/img/slider/03_Shape.png" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="tp-service-section text-center mb-60">
                     <h4 class="tp-section-subtitle">Our Services</h4>
                     <h3 class="tp-section-title text-white">Types of instive <span>insurance</span></h3>
                  </div>
               </div>
            </div>
            <div class="row gx-20">
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-1">
                     <div class="tpservice__icon">
                        <a href="#"><i class="flaticon-protection"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Car Insurance </a></h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-2">
                     <div class="tpservice__icon tpservice__icon-2">
                        <a href="#"><i class="flaticon-health-insurance"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Health Insurance</a> </h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-3">
                     <div class="tpservice__icon tpservice__icon-3">
                        <a href="#"><i class="flaticon-healthy-life"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Life Insurance</a> </h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-4">
                     <div class="tpservice__icon tpservice__icon-4">
                        <a href="#"><i class="flaticon-property"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Home Insurance</a> </h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-5">
                     <div class="tpservice__icon tpservice__icon-5">
                        <a href="#"><i class="flaticon-insurance"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Old Insurance</a> </h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-6">
                     <div class="tpservice__icon tpservice__icon-6">
                        <a href="#"><i class="flaticon-study"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Education Insurance </a></h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-2">
                     <div class="tpservice__icon tpservice__icon-2">
                        <a href="#"><i class="flaticon-risk-management"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Child Insurance </a></h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tpservice mb-20 tp-sv-color-1">
                     <div class="tpservice__icon tpservice__icon-1">
                        <a href="#"><i class="flaticon-family"></i></a>
                     </div>
                     <div class="tpservice__title">
                        <h4 class="tp-sv-title"><a href="service-details.html">Wealth Protection</a></h4>
                     </div>
                     <div class="tpservice__circle">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>

{% block contact %}
         <!-- tp-contact-area-start -->
         <div class="tp-contact-area pt-110">
            <div class="container">
               <div class="tp-contact-wrapper-box p-relative fix" data-background="front_assets/img/contact/contact-shape-2.png">
                  <div class="tp-contact-shape-1">
                     <img src="front_assets/img/contact/contact-shape-1.png" alt="">
                  </div>
                  <div class="row align-items-center">
                     <div class="col-xl-5 col-lg-12">
                        <h3 class="tp-contact-title z-index-3 text-xl-start">Want to Contact with us?</h3>
                     </div>
                     <div class="col-xl-7 col-lg-12">
                        <div class="tp-contact-wrapper z-index-3  d-flex justify-content-xl-end">
                           <div class="tp-contact-info">
                              <a class="contact-icon" href="#"><img src="front_assets/img/svg/header-icon.svg" alt=""></a>
                              <a class="contact-color-2" href="tel:0091590088"><span>Call us :</span> +00 91 590 088</a>
                           </div>
                           <div class="tp-contact-info">
                              <a class="contact-icon" href="#"><img src="front_assets/img/svg/header-icon-2.svg" alt=""></a>
                              <a class="contact-color-1" href="mailto:Info@webmail.com"><span>Mail Us :</span>
                                 Info@webmail.com</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- tp-contact-area-end -->
{% endblock %}

      </div>
      <!-- tp-service-area-end -->
{% endblock %}
{% block case %}
      <!-- tp-case-area-start -->
      <div class="tp-case-area pt-130 pb-130">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="tp-case-section-box text-center mb-60">
                     <h4 class="tp-section-subtitle">Our Case Studies</h4>
                     <h3 class="tp-section-title">Our recent complate <br><span>case studies</span></h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="tp-case-slider-box">
            <div class="tp-case-slider-active">
               <div class="tpcaseitem mix-blend-mode fix">
                  <div class="tpcaseitem__thumb fix">
                     <img src="front_assets/img/case/case-1.jpg" alt="">
                  </div>
                  <div class="tpcaseitem__content">
                     <div class="tpcase-info p-relative">
                        <h4 class="tp-case-title"><a href="portfolio-details.html">Medical Insurance for <br> Alextina</a> </h4>
                        <div class="tp-case-icon">
                           <a href="portfolio-details.html"><i class="fal fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tpcaseitem mix-blend-mode mt-30">
                  <div class="tpcaseitem__thumb fix">
                     <img src="front_assets/img/case/case-2.jpg" alt="">
                  </div>
                  <div class="tpcaseitem__content">
                     <div class="tpcase-info p-relative">
                        <h4 class="tp-case-title"><a href="portfolio-details.html">Medical Insurance for <br> Alextina</a> </h4>
                        <div class="tp-case-icon">
                           <a href="portfolio-details.html"><i class="fal fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tpcaseitem mix-blend-mode">
                  <div class="tpcaseitem__thumb fix">
                     <img src="front_assets/img/case/case-3.jpg" alt="">
                  </div>
                  <div class="tpcaseitem__content">
                     <div class="tpcase-info p-relative">
                        <h4 class="tp-case-title"><a href="portfolio-details.html">Medical Insurance for <br> Alextina</a> </h4>
                        <div class="tp-case-icon">
                           <a href="portfolio-details.html"><i class="fal fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tpcaseitem mix-blend-mode mt-30">
                  <div class="tpcaseitem__thumb fix">
                     <img src="front_assets/img/case/case-4.jpg" alt="">
                  </div>
                  <div class="tpcaseitem__content">
                     <div class="tpcase-info p-relative">
                        <h4 class="tp-case-title"><a href="portfolio-details.html">Medical Insurance for <br> Alextina</a> </h4>
                        <div class="tp-case-icon">
                           <a href="portfolio-details.html"><i class="fal fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tpcaseitem mix-blend-mode">
                  <div class="tpcaseitem__thumb fix">
                     <img src="front_assets/img/case/case-5.jpg" alt="">
                  </div>
                  <div class="tpcaseitem__content">
                     <div class="tpcase-info p-relative">
                        <h4 class="tp-case-title"><a href="portfolio-details.html">Medical Insurance for <br> Alextina</a> </h4>
                        <div class="tp-case-icon">
                           <a href="portfolio-details.html"><i class="fal fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tpcaseitem mix-blend-mode mt-30">
                  <div class="tpcaseitem__thumb fix">
                     <img src="front_assets/img/case/case-4.jpg" alt="">
                  </div>
                  <div class="tpcaseitem__content">
                     <div class="tpcase-info p-relative">
                        <h4 class="tp-case-title"><a href="portfolio-details.html">Medical Insurance for <br> Alextina</a> </h4>
                        <div class="tp-case-icon">
                           <a href="portfolio-details.html"><i class="fal fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-case-area-end -->
{% endblock %}
{% block insurance %}
      <!-- tp-insurance-area-start -->
      <div class="tp-insurance-area pb-130">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-insurance-section-box mb-50">
                     <h3 class="tp-section-title">Get an Insurance Quote <span>to get started!</span></h3>
                  </div>
                  <div class="tp-inurance-tab-section">
                     <nav>
                        <div class="nav tp-Insurance-tab " id="nav-tab" role="tablist">
                           <button class="nav-links active" id="nav-Home-tab" data-bs-toggle="tab"
                              data-bs-target="#Home" type="button" role="tab" aria-controls="nav-Home-tab"
                              aria-selected="true">
                              <span class="tpfeature">                  
                                 <span class="tpfeature__item mb-15 d-flex justify-content-between align-items-center">
                                    <span class="tpfeature__item-info d-flex align-items-center">
                                       <i class="flaticon-property"></i>
                                       <span class="tp-feature-title m-0">Home Insurance</span>
                                    </span>
                                    <span class="tpfeature__item-icon">
                                       <i class="far fa-angle-right"></i>
                                    </span>
                                 </span>
                              </span>
                           </button>
                           <button class="nav-links" id="nav-Car-tab" data-bs-toggle="tab"
                              data-bs-target="#Car" type="button" role="tab" aria-controls="nav-Car-tab"
                              aria-selected="true"> 
                              <span class="tpfeature">                  
                                 <span class="tpfeature__item mb-15 d-flex justify-content-between align-items-center">
                                    <span class="tpfeature__item-info d-flex align-items-center">
                                       <i class="flaticon-protection"></i>
                                       <span class="tp-feature-title m-0">Car Insurance</span>
                                    </span>
                                    <span class="tpfeature__item-icon">
                                       <i class="far fa-angle-right"></i>
                                    </span>
                                 </span>
                              </span>
                           </button>
                           <button class="nav-links" id="nav-Health-tab" data-bs-toggle="tab"
                              data-bs-target="#Health" type="button" role="tab" aria-controls="nav-Health-tab"
                              aria-selected="true"> 
                              <span class="tpfeature">                  
                                 <span class="tpfeature__item mb-15 d-flex justify-content-between align-items-center">
                                    <span class="tpfeature__item-info d-flex align-items-center">
                                       <i class="flaticon-health-insurance"></i>
                                       <span class="tp-feature-title m-0">Health Insurance</span>
                                    </span>
                                    <span class="tpfeature__item-icon">
                                       <i class="far fa-angle-right"></i>
                                    </span>
                                 </span>
                              </span>
                           </button>
                           <button class="nav-links" id="nav-Education-tab" data-bs-toggle="tab" data-bs-target="#Education"
                              type="button" role="tab" aria-controls="nav-Education-tab" aria-selected="true"> 
                              <span class="tpfeature">                  
                                 <span class="tpfeature__item mb-15 d-flex justify-content-between align-items-center">
                                    <span class="tpfeature__item-info d-flex align-items-center">
                                       <i class="flaticon-study"></i>
                                       <span class="tp-feature-title m-0">Education Insurance</span>
                                    </span>
                                    <span class="tpfeature__item-icon">
                                       <i class="far fa-angle-right"></i>
                                    </span>
                                 </span>
                              </span>
                           </button>
                        </div>
                     </nav>
                 </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tab-content" id="nav-tabContent">
                     <div class="tab-pane fade show active" id="Home" role="tabpanel" aria-labelledby="nav-Home-tab"
                        tabindex="0">
                        <div class="tp-contact-form-wrapper">
                           <div class="contact-section-title-box">
                              <h4 class="tp-contact-sm-title">Home Insurance</h4>
                           </div>
                           <div class="contactform">
                              <form action="#">
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Name">
                                 </div>
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Mail">
                                 </div>
                                 <div class="contactform__select">
                                    <div class="tp-sp-icon">
                                       <select>
                                          <option>Property Type</option>
                                          <option>Home Insurance</option>
                                          <option>Car Insurance</option>
                                          <option>Health Insurance</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="contactform__textarea">
                                    <textarea placeholder="Enter Message"></textarea>
                                 </div>
                                 <div class="contactform__button">
                                    <button type="submit" class="tp-btn-yellow-similar w-100">Get a quote now</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="Car" role="tabpanel" aria-labelledby="nav-Car-tab"
                        tabindex="0">
                        <div class="tp-contact-form-wrapper">
                           <div class="contact-section-title-box">
                              <h4 class="tp-contact-sm-title">Car Insurance</h4>
                           </div>
                           <div class="contactform">
                              <form action="#">
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Name">
                                 </div>
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Mail">
                                 </div>
                                 <div class="contactform__select">
                                    <div class="tp-sp-icon">
                                       <select>
                                          <option>Property Type</option>
                                          <option>Home Insurance</option>
                                          <option>Car Insurance</option>
                                          <option>Health Insurance</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="contactform__textarea">
                                    <textarea placeholder="Enter Message"></textarea>
                                 </div>
                                 <div class="contactform__button">
                                    <button type="submit" class="tp-btn-yellow-similar w-100">Get a quote now</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="Health" role="tabpanel" aria-labelledby="nav-Health-tab"
                        tabindex="0">
                        <div class="tp-contact-form-wrapper">
                           <div class="contact-section-title-box">
                              <h4 class="tp-contact-sm-title">Health Insurance</h4>
                           </div>
                           <div class="contactform">
                              <form action="#">
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Name">
                                 </div>
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Mail">
                                 </div>
                                 <div class="contactform__select">
                                    <div class="tp-sp-icon">
                                       <select>
                                          <option>Property Type</option>
                                          <option>Home Insurance</option>
                                          <option>Car Insurance</option>
                                          <option>Health Insurance</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="contactform__textarea">
                                    <textarea placeholder="Enter Message"></textarea>
                                 </div>
                                 <div class="contactform__button">
                                    <button type="submit" class="tp-btn-yellow-similar w-100">Get a quote now</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="Education" role="tabpanel" aria-labelledby="nav-Education-tab"
                        tabindex="0">
                        <div class="tp-contact-form-wrapper">
                           <div class="contact-section-title-box">
                              <h4 class="tp-contact-sm-title">Education Insurance</h4>
                           </div>
                           <div class="contactform">
                              <form action="#">
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Name">
                                 </div>
                                 <div class="contactform__input">
                                    <input type="text" placeholder="Enter Mail">
                                 </div>
                                 <div class="contactform__select">
                                    <div class="tp-sp-icon">
                                       <select>
                                          <option>Property Type</option>
                                          <option>Home Insurance</option>
                                          <option>Car Insurance</option>
                                          <option>Health Insurance</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="contactform__textarea">
                                    <textarea placeholder="Enter Message"></textarea>
                                 </div>
                                 <div class="contactform__button">
                                    <button type="submit" class="tp-btn-yellow-similar w-100">Get a quote now</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-insurance-area-end -->
{% endblock %}
{% block testimonial %}
      <!-- tp-testimonial-area-start -->
      <div class="tp-testimonial-area black-bg pt-200 pb-200 p-relative">
         <div class="tp-service-shape-1">
            <img src="front_assets/img/slider/02_Shape.png" alt="">
         </div>
         <div class="tp-service-shape-2">
            <img src="front_assets/img/slider/03_Shape.png" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="tp-testimonial-section-box text-center mb-60">
                     <h4 class="tp-section-subtitle">Our Client Feedback</h4>
                     <h3 class="tp-section-title text-white">Client’s give us many <br> <span>reviews for us.</span></h3>
                  </div>
               </div>
            </div>
            <div class="testimonial-slider-active">
               <div class="tptestimonial">
                  <div class="tptestimonial__rating">
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <p>Wow. What a great experience with this copywriter. Muhammad Noman is a very talented copywriter. yesterday I got his first Email that was amazing...
                        experience with him</p>
                  </div>
                  <div class="tptestimonial__info d-flex justify-content-between align-items-center">
                     <div class="tptestimonial__icon d-flex align-items-center">
                        <img class="mr-25" src="front_assets/img/testimonial/testi-1.png" alt="">
                        <div class="tptestimonial__title">
                           <h4 class="tp-testi-heading">Esther Howard</h4>
                           <span>P. Desiger of (Amazon)</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tptestimonial">
                  <div class="tptestimonial__rating">
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <p>Wow. What a great experience with this copywriter. Muhammad Noman is a very talented copywriter. yesterday I got his first Email that was amazing...
                        experience with him</p>
                  </div>
                  <div class="tptestimonial__info d-flex justify-content-between align-items-center">
                     <div class="tptestimonial__icon d-flex align-items-center">
                        <img class="mr-25" src="front_assets/img/testimonial/testi-2.png" alt="">
                        <div class="tptestimonial__title">
                           <h4 class="tp-testi-heading">Esther Howard</h4>
                           <span>P. Desiger of (Amazon)</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tptestimonial">
                  <div class="tptestimonial__rating">
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <p>Wow. What a great experience with this copywriter. Muhammad Noman is a very talented copywriter. yesterday I got his first Email that was amazing...
                        experience with him</p>
                  </div>
                  <div class="tptestimonial__info d-flex justify-content-between align-items-center">
                     <div class="tptestimonial__icon d-flex align-items-center">
                        <img class="mr-25" src="front_assets/img/testimonial/testi-3.png" alt="">
                        <div class="tptestimonial__title">
                           <h4 class="tp-testi-heading">Esther Howard</h4>
                           <span>P. Desiger of (Amazon)</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tptestimonial">
                  <div class="tptestimonial__rating">
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <span><i class="fas fa-star"></i></span>
                     <p>Wow. What a great experience with this copywriter. Muhammad Noman is a very talented copywriter. yesterday I got his first Email that was amazing...
                        experience with him</p>
                  </div>
                  <div class="tptestimonial__info d-flex justify-content-between align-items-center">
                     <div class="tptestimonial__icon d-flex align-items-center">
                        <img class="mr-25" src="front_assets/img/testimonial/testi-3.png" alt="">
                        <div class="tptestimonial__title">
                           <h4 class="tp-testi-heading">Esther Howard</h4>
                           <span>P. Desiger of (Amazon)</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-testimonial-area-end -->
{% endblock %}
{% block blog %}
      <!-- tp-blog-area-start -->
      <div class="tp-blog-area pt-130 pb-100">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="tp-blog-wrapper d-flex justify-content-between align-items-end mb-40">
                     <div class="tpblog-section-title-box">
                        <h4 class="tp-section-subtitle">Our Blog & Article</h4>
                        <h3 class="tp-section-title">We are very happy <br> <span>to share news</span></h3> 
                     </div>
                     <div class="tp-blog-button">
                        <a class="tp-btn" href="blog-details.html">See More Blog</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6">
                  <div class="tpblogitem mix-blend-mode mb-30">
                     <div class="tpblogitem__thumb fix">
                        <a href="blog-details.html"><img src="front_assets/img/blog/blog-1.jpg" alt=""></a>
                     </div>
                     <div class="tpblogitem__tag">
                        <a class="tp-btn-grey" href="blog-details.html">Business</a>
                     </div>
                     <div class="tpblogitem__content">
                        <h3 class="tp-blog-title"><a href="blog-details.html">Strategy for Norway’s Peion to Fund <br> Global.of the best town.</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, </p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tpblogitem mix-blend-mode mb-30">
                     <div class="tpblogitem__thumb fix">
                        <a href="blog-details.html"><img src="front_assets/img/blog/blog-2.jpg" alt=""></a>
                     </div>
                     <div class="tpblogitem__tag">
                        <a class="tp-btn-grey" href="blog-details.html">Insurance</a>
                     </div>
                     <div class="tpblogitem__content">
                        <h3 class="tp-blog-title"><a href="blog-details.html">Long established fact that a reader than <br> trust a insurance company</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-blog-area-end -->
{% endblock %}
{% block reclamation %}
      <!-- tp-cta-area-start -->
      <div class="tp-cta-area pb-130">
         <div class="container">
            <div class="tp-cta-bg" data-background="front_assets/img/cta/Cta-bg.jpg">
              <div class="tp-cta-wrapper z-index-4 d-flex justify-content-between align-items-center">
                  <div class="tp-cta-content">
                     <h4 class="tp-cta-title">Start or Track a Claim</h4>
                  </div>
                  <div class="tp-cta-button">
                     <a class="tp-btn tp-hover-white" href="contact.html">File a claim</a>
                     <a class="tp-btn-yellow tp-hover-white ml-20" href="contact.html">Track a claim</a>
                  </div>
              </div>
            </div>
         </div>
      </div>
      <!-- tp-cta-area-end -->
{% endblock %}

   </main>
   {% endblock %}
{% block footer %}
   <footer>
      <!-- tp-footer-area-start -->
      <div class="tp-footer-area pt-200 black-bg p-relative">
         <div class="tp-footer-shape-1">
            <img src="front_assets/img/slider/06_Shape.png" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="tpfooter d-flex justify-content-between align-items-center">
                     <div class="tpfooter__logo">
                        <a href="index.html"><img src="front_assets/img/logo/logo.png" alt=""></a>
                     </div>
                     <div class="tpfooter__social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-widget-space">
               <div class="row">
                  <div class="col-lg-2 col-md-4">
                     <div class="tp-footer-widget mb-30">
                        <div class="tp-footer-widget__title">
                           <h4 class="tp-footer-title">Our Company</h4>
                        </div>
                        <div class="tp-footer-widget__list">
                           <ul>
                              <li><a href="#">Our Story</a></li>
                              <li><a href="blog-details.html">News & Blog</a></li>
                              <li><a href="#">Careers</a></li>
                              <li><a href="contact.html">Customer Support</a></li>
                              <li><a href="contact.html">Contact Us</a></li>
                              <li><a href="#">Website Accessibility</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                     <div class="tp-footer-widget footer-space-2 mb-30">
                        <div class="tp-footer-widget__title">
                           <h4 class="tp-footer-title">Our Offer</h4>
                        </div>
                        <div class="tp-footer-widget__list">                             
                           <ul>
                              <li><a href="#">Auto Insurance</a></li>
                              <li><a href="#">Home Insurance</a></li>
                              <li><a href="#">Claims</a></li>
                              <li><a href="#">Agent Locator</a></li>
                              <li><a href="#">Express Access</a></li>
                              <li><a href="#">Money Back Policy</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <div class="tp-footer-widget footer-space-3 mb-30">
                        <div class="tp-footer-widget__title">
                           <h4 class="tp-footer-title">COntact info</h4>
                        </div>
                        <div class="tp-footer-widget__list">                            
                           <ul>
                              <li><a href="#">Ta-134/A, Gulshan Badda</a></li>
                              <li><a href="tel:15569569365">(+880)155 69569 365</a></li>
                              <li><a href="mailto:support@theme_pure.com">support@theme_pure.com</a></li>
                              <li><a href="#">Office Hours: 8AM - 11PM</a></li>
                              <li><a href="#">Sunday - Wekend Day</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-md-12">
                     <div class="tp-footer-widget footer-space-4 mb-30">
                        <div class="tp-footer-widget__title">
                           <h4 class="tp-footer-title">News Latter</h4>
                        </div>
                        <div class="tp-footer-widget__input p-relative">
                           <form action="#">
                              <input type="email" placeholder="Enter mail">
                              <button class="tp-btn-sm" type="submit">Subscribe</button>
                           </form>                            
                        </div>
                        <div class="tp-footer-widget__check-box">
                           <form action="#">
                              <div class="form-check">
                                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                 <label class="form-check-label text-white" for="flexCheckDefault">
                                    I agree that my submitted data is being collected and stored.
                                 </label>
                              </div>
                           </form>                            
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tp-copyright-area black-bg pt-25 pb-60">
         <div class="container">
            <div class="col-xl-12">
               <div class="tp-copyright-wrapper d-flex justify-content-between">
                  <div class="tp-copyright-left">
                     <span>© 2022 Insurance website. All Rights Reserved.</span>
                  </div>
                  <div class="tp-copyright-right">
                     <button class="scroll-top scroll-to-target" data-target="html">
                        Scroll Top <i class="fal fa-arrow-up"></i>
                    </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-footer-area-end -->
   </footer>
{% endblock %}
   <!-- JS here -->
   {% block js %}
    <script src="{{ asset('front_assets/js/jquery.js') }}"></script>
    <script src="{{ asset('front_assets/js/waypoints.js') }}"></script>
    <script src="{{ asset('front_assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('front_assets/js/swiper-bundle.js') }}"></script>
    <script src="{{ asset('front_assets/js/slick.js') }}"></script>
    <script src="{{ asset('front_assets/js/magnific-popup.js') }}"></script>
    <script src="{{ asset('front_assets/js/counterup.js') }}"></script>
    <script src="{{ asset('front_assets/js/wow.js') }}"></script>
    <script src="{{ asset('front_assets/js/nice-select.js') }}"></script>
    <script src="{{ asset('front_assets/js/meanmenu.js') }}"></script>
    <script src="{{ asset('front_assets/js/isotope-pkgd.js') }}"></script>
    <script src="{{ asset('front_assets/js/imagesloaded-pkgd.js') }}"></script>
    <script src="{{ asset('front_assets/js/ajax-form.js') }}"></script>
    <script src="{{ asset('front_assets/js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script>
       $(document).ready(function () {
           $("#myInput").on("keyup", function () {
               var value = $(this).val().toLowerCase();
               $("#myTable tr").filter(function () {
                   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
           })
       });
        $('#searchInput').on('input', function(){
    var query = $(this).val().toLowerCase();
    $('#agence-conatiner .card').each(function(){
        var nomage = $(this).find('.card-title').text().toLowerCase();
       // var restaurantAddress = $(this).find('.card-address').text().toLowerCase(); // Ajout pour rechercher par adresse

        if(nomage.includes(query)){ // Modification pour inclure la recherche par adresse
            $(this).show();
        } else {
            $(this).hide();
        }
    });
});
   </script>
{% endblock %}



</body>

</html>