{% extends 'front_base.html.twig' %}

{% block main %}
<div class="tp-testimonial-area black-bg pt-200 pb-200 p-relative">
<div class="tp-service-section text-center mb-10">
                     <h3 class="tp-section-title text-white">Our agences </h3>
                  </div>
    <div class="container" style=' display: flex;'>
        {% for agence in listX %}
        <div style='width: 450px; margin-right: 10px;margin-top:40px;'>
            <div class="tptestimonial">
                <div class="tptestimonial__rating">
                    <h5 style="color: white;">Name: {{agence.nomage}}</h5>
                    <h5 style="color: white;">Address: {{agence.addresse}}</h5>
                    <h5 style="color: white;">Email: {{agence.email}}</h5>
                    <h5 style="color: white;">Number: {{agence.tel}}</h5>
                    
                    <h5 style="color: white;">Creation Date: {{agence.create_at|date('d/m/Y')}}</h5>
                </div> <div class="tp-about-button-box d-flex "> 
                     <button class="tp-btn ">Details</button>
                     <button style=' margin-left: 5px;' class="tp-btn  " href="{{path('name_addavis',{'id':agence.id})}}"><a href="{{path('name_addavis',{'id':agence.id})}}">Notes</button>
                  </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>
 {% endblock %}