{% extends 'back_base.html.twig' %}
{% block content %}
<div class="clearfix"></div>
  
<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Start Dashboard Content -->

    <div class="card mt-3">
      <div class="card-content">
        <!-- Symfony Form Start -->
        <div class="row justify-content-center"> {# Centering the content horizontally #}
          <div class="col-lg-8 col-md-10 col-sm-12"> {# Adjust grid column width based on your layout needs #}
            <div class="card">
              <div class="card-body">
                <div class="card-title">Add category offer</div>
                <hr>
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'commande_form', 'novalidate':'novalidate'}}) }}
                <div class="form-group">
                  {{ form_label(form.categorie_name, 'categorie_name', {'label_attr': {'class': 'control-label'}}) }}
                  {{ form_widget(form.categorie_name, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter categorie_name'}}) }}
                  <div style="color: white;">{{ form_errors(form.categorie_name) }}</div>
                </div>
                <div class="form-group">
                  {{ form_label(form.description_cat, 'description_cat', {'label_attr': {'class': 'control-label'}}) }}
                  {{ form_widget(form.description_cat, {'attr': {'class': 'form-control form-control-rounded', 'placeholder': 'Enter description_cat'}}) }}
                  <div style="color: white;">{{ form_errors(form.description_cat) }}</div>
                </div>
                <div class="form-group">
                  {{ form_label(form.catimg, 'Image', {'label_attr': {'class': 'control-label'}}) }}
                  {{ form_widget(form.catimg, {'attr': {'class': 'form-control form-control-rounded', 'accept': 'image/*'}}) }}
                  <div style="color: white;">{{ form_errors(form.catimg) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="form-group">
                  <button type="submit" class="btn btn-light btn-round px-5"></i> Add</button>
                </div>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
        <!-- Symfony Form End -->
      </div>
    </div>  
      
    <!-- End Dashboard Content -->
  
    <!-- Start overlay -->
    <div class="overlay toggle-menu"></div>
    <!-- End overlay -->
  
  </div><!-- End container-fluid -->
    
</div><!-- End content-wrapper -->
{% endblock %}
