{% extends 'back_base.html.twig' %}

{% block content %}


<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row justify-content-center mb-4">
            <div class="col-12 col-lg-8">
                <a href="{{ path('add_offre') }}" class="btn btn-primary mb-3">Add Offer</a>
                <div>
                <!-- Flashy depends on jQuery -->
                <script src="//code.jquery.com/jquery.js"></script>
                <!-- Load Flashy default JavaScript -->
                <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
                <!-- Include Flashy default partial -->
                {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
              </div>
                <div class="card">
                <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
                <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>    
                    <div class="card-header">List of offer categories </div>
                    <div class="table-responsive text-center">
                        <table class="table table-bordered table-hover">
                         
                        
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Advantage</th>
                                    <th>Conditions</th>
                                    <th>Duration(Days)</th>
                                    <th>Discount(%)</th>
                                    <th>Actions</th>
                                    <th>Category name</th>
                                </tr>
                                {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
                            </thead>
                            <tbody>
                                {% for offre in offres %}
                                <tr>
                                    <td>
                                        {% if offre.offreimg %}
                                            <img src="{{ asset('uploads/offres/' ~ offre.offreimg) }}" alt="Offre Image" style="max-width: 100px; max-height: 100px;">
                                        {% else %}
                                            No Image
                                        {% endif %}
                                    </td>
                                    <td>{{ offre.advantage }}</td>
                                    <td>{{ offre.conditions }}</td>
                                    <td>{{ offre.duration }}</td>
                                    <td>{{ offre.discount }}</td>
                                    <td>
                                        <a href="{{ path('edit_offre', {'id': offre.id}) }}" class="btn btn-light btn-round px-3">Edit</a>
                                        <a href="{{ path('delete_offre', {'id': offre.id}) }}" class="btn btn-light btn-round px-3">Delete</a>
                                    </td>
                                    <td>{{ offre.categorie.categoriename}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="6">No Records Found</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
