{% extends 'back_base.html.twig' %}

{% block content %}

<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row justify-content-center mb-4">
            <div class="col-12 col-lg-8">
                <a href="{{ path('add_catoffre') }}" class="btn btn-primary mb-3">Add CategorieOffre</a>
                <div class="card">
                    <div class="card-header">Listes catégories d'offres</div>
                    <div class="table-responsive text-center">
                   <table class="table table-bordered table-hover">
                       <thead>
                           <tr>
                               <th>Category Name</th>
                               <th>Description</th>
                               <th>Actions</th>
                           </tr>
                       </thead>
                       <tbody>
                        {% for catoffre in catoffres %}
                                    <td>
                                        {% if catoffre.catimg %}
                                            <img src="{{ asset('uploads/offres/' ~ catoffre.catimg) }}" alt="CatOffre Image" style="max-width: 100px; max-height: 100px;">
                                        {% else %}
                                            No Image
                                        {% endif %}
                                    </td>
                               <td>{{ catoffre.categoriename }}</td>
                               <td>{{ catoffre.descriptioncat }}</td>
                               <td>
                                   <a href="{{ path('edit_catoffre', {'id': catoffre.id}) }}" class="btn btn-primary">Edit</a>
                                   <a href="{{ path('delete_catoffre', {'id': catoffre.id}) }}" class="btn btn-danger">Delete</a>
                               </td>
                           </tr>
                           {% else %}
                           <tr>
                               <td colspan="3">No Records Found</td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
