{% extends 'back_base.html.twig' %}

{% block content %}

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">



<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-8">
        <a href="{{ path('add_assurance') }}" class="btn btn-primary mb-3">Add Insurance</a>
        <div class="card">
            <div class="card-header">Recent Insurance Tables</div>
            <div class="table-responsive text-center">
                <table class="table align-items-center table-flush table-borderless table-sm">
                    <thead>
                        <tr>
                            <th>Insurance Name</th>
                            <th>Base Price</th>
                            <th>DOA</th>
                            <th>Insurance Category</th>
                            <th>Actions</th>
                            <!-- Add more table headers if needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for assurance in assurances %}
                        <tr>
                            <td>{{ assurance.nameins }}</td>
                            <td>{{ assurance.montant }}</td>
                            <td>{{ assurance.doa }}</td>
                            <td>{{ assurance.catA.namecatins }}</td>
                            <td>
                                <a href="{{ path('edit_assurance', {'id': assurance.id}) }}">Edit</a>
                                <a href="{{ path('delete_assurance', {'id': assurance.id}) }}">Delete</a>
                            </td>
                            <!-- Adjust the date format as needed -->
                            <!-- Add more table columns if needed -->
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">No Records Found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>
{% endblock %}
