{% extends 'back_base.html.twig' %}
{% block topbar %}
<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    {% block chsear %}
    <li class="nav-item">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search ..." class="form-control"

                id="search-input">

    </li>
    {% endblock %}
  </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-envelope-open-o"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-bell-o"></i></a>
    </li>
    <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="{{ app.user.avatar}}" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src=" {{ app.user.avatar}}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-2 user-title">{{ app.user.username }}</h6>
            <p class="user-subtitle">{{ app.user.email }}</p>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
        <li class="dropdown-divider"></li>
        <a href="{{ path('app_logout') }}"><li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li></a>
      </ul>
    </li>
  </ul>
</nav>
    
<style>
    .description {
        white-space: pre-wrap; /* Garde les retours à la ligne et espace blanc */
        word-wrap: break-word; /* Permet de casser les mots pour éviter le débordement */
    }
    
</style>
</header>
<!--End topbar header-->
 {% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>

       $(document).ready(function () {

           $("#myInput").on("keyup", function () {

               var value = $(this).val().toLowerCase();

               $("#myTable tr").filter(function () {

                   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

               });

           })

       });

      

   

   </script>



<style>
    .custom-margin-top {
        margin-top: 10rem; 
    }
    .description {
        white-space: pre-wrap; /* Garde les retours à la ligne et espace blanc */
        word-wrap: break-word; /* Permet de casser les mots pour éviter le débordement */
    }
    
</style>
<div style="">
    <div class="card">
        <div class="card-body">
            <div class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" id="search" class="form-control" placeholder="Search here">
                </div>
            </div>
            <br>
            <span class="search-result-label">Search result:</span><span class="fa arrow"></span>
            <table class="table table-hover">
            <tr class="text-center">
                        <th>Police Name</th>
                        <th>Description</th>
                        <th>sin</th>
                    </tr>
                <tbody id="entitiesNav">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br><br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
           
            var minlength = 1;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_searchp') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        if (value===$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key === 'sinisters') {
                                        if (id !== 'error') {
                                            entitySelector.append('<tr class="text-center"><td>'+value[0]+'</td><td><div class="description"> '+value[1]+'</div></td><td><b>'+value[2]+'</b></td></tr>');
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                    }
                });
            }
        });
    });
</script>
<style>
    .custom-margin-top {
        margin-top: 10rem; 
    }
    .description {
        white-space: pre-wrap; /* Garde les retours à la ligne et espace blanc */
        word-wrap: break-word; /* Permet de casser les mots pour éviter le débordement */
    }
    .pagination {
    display: flex;
    justify-content: center; /* Centrer la pagination horizontalement */
    list-style: none; /* Supprimer les puces */
    padding: 0;
}

.pagination li {
    margin: 0 5px; /* Espacement entre les éléments */
}

.pagination li a {
    border: 1px solid #007bff; /* Bordure des cadres */
    padding: 5px 10px; /* Espacement à l'intérieur des cadres */
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: #007bff; /* Couleur du texte */
    border-radius: 5px; /* Bordures arrondies */
}

.pagination li.active a {
    background-color: #007bff; /* Arrière-plan pour l'élément actif */
    color: white; /* Couleur du texte pour l'élément actif */
}

.pagination li.disabled a {
    color: grey; /* Couleur du texte pour les éléments désactivés */
    cursor: not-allowed; /* Curseur pour indiquer l'état non cliquable */}

</style>



<div class="content-wrapper" style="margin-left:0px;">
    <div class="container-fluid">
        <div class="card mt-">
            <div class="card-content">
                <div class="row">
                    <div class="col-14 col-lg-12">
                        <div class="card">
                            <div class="card-header">Police Table</div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-borderless" id="myTable">
                                    <thead>
                                        <tr>
                                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Police Name', 'u.policeName') }}</th>
           <th>{{ knp_pagination_sortable(pagination, 'Description', 'u.descriptionPolice') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Associated Claim', 'u.SinName') }}</th>
                                            
                                            <th>Edit/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rec in pagination %}
                                            <tr class="table-row">
                                                <td>{{ rec.id }}</td>
                                                <td>{{ rec.getPoliceName }}</td>
                                                <td><div class="description">{{ rec.getDescriptionPolice }}</div></td>
                                                <td>{{ rec.sinistre ? rec.sinistre.getSinName : 'None' }}</td>
                                                <td>
                                                    <a href="{{ path('police_edit',{'id':rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2"><i class="fas fa-edit"></i>Edit</button>
                                                    </a>
                                                    <a href="{{ path('police_delete', {'id': rec.id}) }}">
                                                        <button type="button" class="btn btn-light btn-round px-2"><i class="fas fa-trash"></i></i>Delete</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="navigation pagination-container">
    {{ knp_pagination_render(pagination) }}
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <a href="{{ path('police_new') }}" class="btn btn-primary btn-round">
            <i class="fas fa-plus"></i> Add a Police
        </a>
    </div>
</div>

<style>
    .table-row:hover {
        background-color: #f8f9fa;
    }
    .table-row:hover td {
        color: #007bff;
    }
    .table-row:hover .btn {
        background-color: #f8f9fa;
        color: #007bff;
    }
</style>

{% endblock %}
