{% extends 'back_base.html.twig' %}

{% block content %}
<style>
    .form-container {
        margin-top: 10rem;
    }
    .table-row:hover {
        background-color: #f8f9fa;
    }
    .table-row:hover td {
        color: #007bff;
    }
    .table-row:hover .btn, .form-submit-btn {
        background-color: #007bff; /* To make the button have a blue background */
        color: #ffffff; /* White text for contrast */
        border-radius: 20px; /* Rounded borders for "btn-round" style */
        border: none; /* Removes the default button border */
        padding: 10px 20px; /* Padding adjustment to match your needs */
        cursor: pointer; /* Changes cursor on hover */
    }
</style>

<div class="content-wrapper" style="margin-left:0px;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <div class="card mt-3">
                    <div class="card-header text-center">
                        <h2>Edit Disaster</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                        
                        <div class="form-group">
                            {{ form_label(form.sin_name, 'Disaster Name', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.sin_name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.sin_name) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.description_sin, 'Disaster Description', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description_sin, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.description_sin) }}
                        </div>
                        <div class="form-group">
    {{ form_label(form.imagePath, 'Disaster Image') }}
    {{ form_widget(form.imagePath, {'attr': {'class': 'form-control-file'}}) }}
    {{ form_errors(form.imagePath) }}
    
</div>
                        
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-round">
                                Save Changes
                            </button>
                        </div>
                        
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
