{% extends 'back_base.html.twig' %}

{% block content %}
<style>
    .custom-margin-top {
        margin-top: 10rem; 
    }
    .description {
        white-space: pre-wrap; /* Garde les retours à la ligne et espace blanc */
        word-wrap: break-word; /* Permet de casser les mots pour éviter le débordement */
    }
    
</style>


<div class="container">
    <div class="row justify-content-center align-items-center custom-margin-top">
        <div class="form-group row">
            <div class="nav-item">
                <form class="search-bar">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search claim by ID...">
                    <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mt-">
            <div class="card-content">
                <div class="row">
                    <div class="col-14 col-lg-12">
                        <div class="card">
                            <div class="card-header">Claim Table</div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-borderless">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Claim Name', 'u.sinName') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Description', 'u.descriptionSin') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Photo Path', 'u.imagePath') }}</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in pagination %}
            <tr class="table-row">
                <td>{{ rec.id }}</td>
                <td>{{ rec.sinName }}</td>
                <td><div class="description">{{ rec.descriptionSin }}</div></td>
                <td>{{ rec.imagePath }}</td>
                <td>
                    <a href="{{ path('sinistre_edit', {'id': rec.id}) }}">
                        <button type="button" class="btn btn-light btn-round px-2"><i class="fas fa-edit"></i>Edit</button>
                    </a>
                    <a href="{{ path('sinistre_delete', {'id': rec.id}) }}">
                        <button type="button" class="btn btn-light btn-round px-2"><i class="fas fa-trash"></i>Delete</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


                        </div>
                        <div class="navigation" style="margin-left:350px;">
                {{ knp_pagination_render(pagination) }}
            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <a href="{{ path('sinistre_new') }}" class="btn btn-primary btn-round">
            <i class="fas fa-plus"></i> Add a Claim
        </a>
    </div>
</div>

<style>
    .table-row:hover {
        background-color: #f8f9fa;
    }
    .table-row:hover td {
        color: #007bff;
    }
    .table-row:hover .btn {
        background-color: #f8f9fa;
        color: #007bff;
    }
</style>

{% endblock %}
